html,
body {
  box-sizing: border-box;
  background-image: url("./assets/images/texture-wallpaper-56.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
}

h1,
h2 {
  text-align: center;
}

hr {
  border-color: black;
  width: 80%;
}

.navbar-collapse,
.navbar {
  background-color: rgb(17, 17, 19);
  border-color: rgb(17, 17, 19);
  border-radius: 10px;
}

.navbar-brand,
.gameHeader {
  color: white;
  font-weight: bold;
}

.gameHeader {
  font-size: 30px;
  }

  #scoreBox {
    background-color: orange;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 38%;
    margin: 0 auto;
    padding: 5px 0 0 0;
  }

  #gameStartAlert {
    font-weight: bold;
    text-shadow: 2px 2px 2px #b4abab;
    display: visible;
  }

  #correctGuessAlert {
    color: rgb(7, 167, 7);
    font-weight: bold;
    text-shadow: 2px 2px 2px #363434;
    display: none;

  }

  #incorrectGuessAlert {
    color: red;
    font-weight: bold;
    text-shadow: 2px 2px 2px #292626;
    display: none;

  }

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0 50px 0;
  min-height: 80%;
  width: 90%;
}

.App {
  text-align: center;
}

.navbar-brand {
  font-size: 50px;
}

.imgBtn {
  margin: 10px;
  border: 10px solid lightgrey;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16), 6px 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 1100px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1100px;
  }
}
