html,
body {
  box-sizing: border-box;
  background-image: url("./assets/images/texture-wallpaper-56.jpg");
}

.navbar-collapse,
.navbar {
  background-color: rgb(17, 17, 19);
}

.navbar-brand,
.gameHeader,
.scoreBoard {
  color: white;
}

.App {
  text-align: center;
}

.navbar-brand {
  font-size: 50px;
}

.imgBtn {
  margin: 20px;
  border: 10px solid lightgrey;
  border-radius: 8px;
}

#gamePieces {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.gameHeader,
.scoreBoard {
  font-size: 25px;
  padding: 0 0 0 100px;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
